<ul>
  <h2><li>活動場所</li></h2>
  <li>・◯◯◯球場(住所：愛知県名古屋市◯◯区◯◯-◯◯-◯◯)</li>
  <li>・◯◯◯グラウンド(住所：愛知県刈谷市◯◯町◯◯-◯◯-◯◯)</li>
  ↑主にこちらの場所で練習、試合を行っています



</ul> 

<input id="address" type="textbox" >
<input type="button" value="検索" onclick="codeAddress()">←詳しい場所はこちらをお使いください。
<!-- 下の1行を追加 -->


<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
let geocoder
// 下の1行を追加 
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      // 下の1行を追加 
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>


