
<div class="main top-main">
  <div class="row">

    <div class="col-md-7"> 
      <div class="center " id="top-main">
        <h1 id="top-main-title">◯◯BaseballClub</h1>
        <% unless user_signed_in? %>
          <h3><p>草野球メンバー募集中です!</p></h3> 
          <p>※詳しい情報はメンバー募集情報かお問い合わせをご覧下さい</p>
          <p>↓↓新規メンバー入会、応募はこちらへ↓↓</p>
          <p><%= link_to "新規登録", new_user_registration_path, class: "btn  btn-success" %></p>
          <div style="margin-top: 10px;">
            <p>↓↓すでにメンバーの方はこちらへ!↓↓</p>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-danger" %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <p>↓↓ログアウトはこちら!↓↓</p>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% end %>

      </div>
    </div>
  </div>

</div>


