<div class="main top-main">
  <div class="row">

    <div class="col-md-7">
      <div class="center " id="top-main">
        <p>　</p>
        <p>　</p>
        <p>　</p>
        <p>　</p>

        <h1 id="top-main-title" style="font-style: italic;">TsuyoBaseballClub</h1>
        <% unless user_signed_in? %>
        <h4>
          <p>草野球メンバー募集中です!</p>
        </h4>
        <p>※詳しい情報はメンバー募集情報かお問い合わせをご覧下さい</p>
        <p>↓↓新規メンバー入会、応募はこちらへ↓↓</p>
        <p><%= link_to "新規登録", new_user_registration_path, class: "btn  btn-success" %></p>
        <div style="margin-top: 10px;">
          <p>↓↓すでにメンバーの方はこちらへ!↓↓</p>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
        </div>
        <% end %>
        <% if user_signed_in? %>
        <p>↓↓ログアウトはこちら!↓↓</p>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% end %>
        <div style="margin-top: 10px;">
          <p>↓↓お問い合わせはこちらへ!↓↓</p>
          <ul>
            <li>管理者名:　今津剛　　　　　　　　　　　　</li>
            <li>電話番号:　　09011112222　　　　　　　　</li>
            <li>住所: 愛知県名古屋市◯◯区◯◯◯　◯-◯-◯</li>
            <p style="margin-top: 10px;"><a href="https://lin.ee/ivgSV3A"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a></p>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>