<div class="main top-main">
  <div class="row">

    <div class="col-md-7"> 
      <div class="center " id="top-main">
        <h1 id="top-main-title">◯◯BaseballClub</h1>
        <p>2020年より活動している軟式草野球チームで、私はでキャプテンをしています。</p>



<p>私の学生時代の同級生である野球仲間と一緒に作ったチームです。</p>


<p>その中で、私たちが目指していることの一つに〝50歳までフルスイングを続ける〟という目標があります！</p>



<p>『真剣に草野球をしたい』が、『連盟や大会に出たいわけではない』</p>

<p>『勝つと楽しい』が、『勝つ為だけに草野球を行いたくない』</p>



<p>そんな一見矛盾した様な2つの言葉ですが実際共感していただける草野球プレーヤーは多いのではないでしょうか？</p>


<p>自分が上手くなる為に野球をしたい。
その為に草野球チームに入り練習などをしたいけど、
連盟や大会などに出たいとはまでは、思っていない。</p>





<p>本気で野球に向き合うが大会に出場したいわけではない。</p>


<p>なんて公表している草野球は私の知る限りではあまり多くはないでしょう。</p>





<p>では、なぜ連盟や大会に出たいと思わない人が多いのか？</p>

<p>連盟や大会に出場するとどうしても勝つ事に執着してしまう。
それが気になっているのではないですか？</p>

<p>勝てば楽しいですが、勝つ事が全ての目標ではありません。</p>


<p>野球を通じて日常生活にプラスを与える事です。<p>

<p>一つ礼をあげると、
バッティングフォームを改善する為に姿勢を改善すると
仕事も楽になった。などですね。</p>

<ul>
  <li>①活動エリア
  名古屋市内・刈谷市内のグラウンドで行なっています。</li>


  <li>②活動頻度・日時
  ●第1・3 日曜日　9:00 〜 15:00 のグラウンドが取れた所
  ●第2・4 土曜日　19:00 〜 21:00 ナイター</li>
</ul>

<p>基本的に1年中、このスケジュールで活動しています。
日程を予め決定している事で
参加してくれているメンバーの週末の予定を潰さない為です。
奥さんに嫌な顔されては草野球できないですもんね。笑 </p>

<p>また、土曜日のナイターを行なっている理由は
土曜日に仕事をしている人でも仕事終わりに参加でき、
翌日の日曜日は1日フリーになる事を見越してです。
これも上記の同じ理由です。笑</p>



<ul>
  <li>
    ③募集条件について
    ●年齢20〜30代の社会人
    ●野球経験・性別・国籍は不問です。
    ●月4回の活動の半分ほどに、コンスタントに参加出来る方
    ●野球が好きな方、やってみたい方、上手くなりたい方
    ↑これが一番大切です。笑
  </li>  
</ul> 


<p>国籍に関しても監督が英会話を勉強中である為
少しであれば英語も話せます！</p>


<p>野球経験も問いません！
ポジションも問いません！
『新しくピッチャーをやってみたい』
『左打ちに挑戦してみたい』なんて熱い思いをお持ちであれば尚更協力いたします。</p>




<p>性別も問いません</p>

<p>女性が草野球に参加できる環境って少ないのでは無いかと考えています。
そのため、女性プレイヤーであっても男性同様
参加しやすい環境には努めていきます！</p>


<ul>
  <li>
  ④活動費・必要な物について
  年会費はもらっていません。
  活動費は当日にかかるグラウンド代やボール代などを割り勘した分を頂いています。

  私の個人的意見ですが、
  参加量に差があるのに年会費が同じってのも
  なんか共感できなくって...笑

  そのため、活動費はその日の必要な分のお金という事です。

  必要なモノとして
  グローブやスパイクなどの野球道具は自前でお願いしています。
  ユニフォーム上と帽子は参加を継続していただける方には購入していただいていますが
  最初の5回の参加(もしくは参加開始より3ヶ月のどちらか短い方)までは、
  1回500円のレンタル料でレンタルユニフォームも用意しています。

  その為、最初のほうは
  レンタルユニフォームで参加し、継続していただける際に
  ユニフォームの購入を検討していただくことも可能としています。

  ズボンや靴下はレンタルユニフォームの際も自前でお願いしています。
 </li>
</ul>  







<p>参加してくださるメンバー全てが
楽しい時間を過ごしてもらえる様に
お話しした内容は適宜アップデートする可能性もありますが、

興味を持ち、参加したいと思ってくださった方がいらっしゃいましたら
お気軽に下記の応募フォームからご連絡ください。</p>

<p>応募フォーム</p>
<p>一緒に野球をしましょう！！</P>




よろしくお願いします！！
        <p>草野球メンバー募集中です!</p>
        <p>↓↓応募フォームはこちらへ↓↓</p>
        <p><%= link_to "応募フォーム", new_user_registration_path, class: "btn btn-lg btn-success" %></p>
        <div style="margin-top: 10px;">
        <% if user_signed_in? %>
          <p>↓↓すでにメンバーの方はこちらへ!↓↓</p>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>


