<div class="d-flex align-items-center">
  <h1>日程、お知らせの編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '日程、お知らせ一覧へ', boards_path, class: "btn btn-secondary" %>
  </div>
</div>
<%= render partial: 'form', locals: { board: @board } %>