<div class="d-flex align-items-center">
  <h1>日程とお知らせ作成</h1><br>
  <h6>質問、相談も可能です!</h6>
  <div class="ml-auto boards__linkBox">
    <%= link_to 'メンバー一覧', boards_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<%= render partial: 'form', locals: { board: @board } %>