// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  list-style: none;
}

.top-main {
  color: white;
  background-color: #3ecd85;
  background-image: url("/baseball.png");
  background-position:center bottom; 
  background-size:contain;                               /* 画像のサイズを指定    */
    width:104%;                                            /* 横幅のサイズを指定    */
    height:860px; 
}

.center {
  text-align: center;
}


